# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD= # Secret

# Service Configuration
SERVICE_PORT=
SERVICE_HEALTH_CHECK_URL=

# JWT Configuration
JWT_SECRET= # Secret
JWT_EXPIRATION=

# MoMo Configuration
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY= # Secret
MOMO_SECRET_KEY= # Secret
MOMO_ENDPOINT=
MOMO_RETURN_URL=
MOMO_NOTIFY_URL=

# Firebase Configuration
FIREBASE_API_KEY= # Secret
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

# OpenAI Assistant Configuration
OPENAI_API_KEY= # Secret
OPENAI_ASSISTANT_ID=

# OAuth2 Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=# Secret
GOOGLE_REDIRECT_URI=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET= # Secret
FACEBOOK_REDIRECT_URI=
