.hero-section {
    display: flex;
    height: 350px;
    background-color: #E0B7B3;
    margin-top: 70px; /* tránh bị che bởi fixed header */
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    /* padding-right: 5%; */
    color: white;
    width: 80%;
}

.hero-left h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-left p {
    margin-bottom: 30px;
    font-size: 16px;
}

.hero-btn {
    background-color: white !important;
    color: #e0b7b3 !important;
    border: none;
    padding: 10px 20px;
    width: 120px;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
